body {
    background: #f9e933;
}

header, main, footer {
    min-width: 53.43em;
}

header .container, main .container, footer .container {
    max-width: 53.43em;
    margin: auto;
}

main {
    background: white;

}
main p {
    color: blue;
}
.qsn1{
    color: black
}
.qsn2{
    color: black
}
.qsn3{
    color: black
}
.topic{
    color: black
}
header {
    background: white;
    overflow: auto;
}

 h1 {
    float: left;
    width: 35.625em;
}


header nav {
    float: right;
    width: 17.81em;
}

table {
    width: 21.87em;
    margin-left: auto;
    margin-right: auto;
    color: blue;
    
}

input[type=password], select {
    
    
    margin: 0.5em 0;
    display: inline-block;
    
    border-radius: 0.25em;
    
}

input[type=text], select {
    
    
    margin: 0.5em 0;
    display: inline-block;
    
    border-radius: 0.25em;
    
}

label {
color: #B4886B;
font-weight: bold;
display: block;
width: 150px;
float: left;
}

.button {background-color: #A333C8;
    color: #FFFFFF;
    text-shadow: none;
    background-image: none;
}

.maindiv {background-color: antiquewhite;  
    margin: auto;
    width: 50%;
    border: 0.125em;
    padding: 0.625em;
    height: 50%;
}



